button {
  background: white;
  color: black;
  padding: 4px 16px;
  margin-block: 8px;
}
.btn-primary {
  border: 4px solid black;
  box-shadow: 8px 8px;
  padding: 10px 60px;
  font-size: 1.3rem;
  margin-block: 20px;
}
.btn-primary:hover {
  box-shadow: none;
  transform: scale(1.02);
}
.btn-primary:disabled {
  cursor: not-allowed;
  filter: grayscale(10%);
  opacity: 0.8;
}

input[type="text"],
input[type="number"] {
  outline: none;
  border: 2px solid black;
  padding: 10px 20px;
  box-shadow: 4px 4px;
  margin-block: 10px;
}
#my-form {
  --mw: 250px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  div {
    width: var(--mw);
    text-align: center;
  }
  h1 {
    padding-block: 40px 20px;
  }
}
.error-msg {
  color: red;
  text-align: center;
}
.close {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transform: translateX(100%) scaleX(1.2);
  background: transparent;
}

div:has(> .gender-label) {
  margin-block: 10px;
}

.gender-label {
  margin-right: 16px;
}
label {
  cursor: pointer;
}
input[type="radio"] {
  accent-color: black;
  margin-left: 8px;
}
